.h1{
    color: black;
    font-size: 40px;
}
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    margin-top: 20px;
    background-color: #f0f0f0; /* Background color for the body */
}

.container {
    position: relative;
    max-width: 50%; /* Adjust the width as needed */
    max-height: 10%;
    /* padding-bottom: 100%; 1:1 Aspect Ratio (height = width) */
    background-color: #3498db;
    margin: 10px; /* Space between the containers */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    border: 2px solid #3498db; /* Add a border for better visibility */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.2s ease-in-out; /* Add a hover effect */
    z-index: 1;
   
}
img{
    height: 100%;
    width: 100%;
}

/* .container:hover {
    transform: scale(1.1); /* Scale up the container on hover 
} */

.flaticon-button {
    position: absolute;
    background-image: url("images/right-arrow.png"); /* Replace with the actual path to the icon */
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; /* Adjust the width and height as needed */
    height: 50px;
    border: none; /* Remove the default button border */
    cursor: pointer;
    z-index: 2;
}
/* Style for positioning "Next" button to the lower right corner */
.flaticon-button.next {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Style for positioning "Previous" button to the lower left corner */
.flaticon-button.previous {
    position: absolute;
    bottom: 10px;
    left: 10px;
    transform: scaleX(-1);
}
/* Mobile screens (phones and smaller devices) */
@media only screen and (min-width: 1025px) {
    .mobile-only {
        display:none !important;
    }
} 
@media only screen and (max-width: 1026px) {
    .desktop-only {
        display:none !important;
    }
} 
